.serverContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px;
    margin-bottom: 10px; responsiveness? */
  /* padding: 10px; */
  border: 1px solid #000;
  height: 100vh;
  border-radius: 10px;
  background-color: #f0f0f0;
  /* min-width: 78vw; */
  flex: 1;

  /* width: 100%; */
}
